src/main/java/generated/configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" version="1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="configuration" type="configurationType" />
	<xsd:complexType name="configurationType">
		<xsd:sequence>
			<xsd:element name="implicitlyWait" type="xsd:int"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="titleAdminPanel" type="xsd:string" />
			<xsd:element name="testArticleName" type="xsd:string" />
			<xsd:element name="testEditedArticleName" type="xsd:string" />
			<xsd:element name="testTextArticle" type="xsd:string" />
			<xsd:element name="login" type="xsd:string" />
			<xsd:element name="password" type="xsd:string" />
			<xsd:element name="testGalleryName" type="xsd:string" />
			<xsd:element name="testFileGallery" type="xsd:string" />
			<xsd:element name="filePath" type="xsd:string" />
			<xsd:element name="baseUrl" type="xsd:string" />
			<xsd:element name="adminPanelUrl" type="xsd:string" />
			<xsd:element name="pages" type="pagesList" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="pagesList">
		<xsd:sequence>
			<xsd:element name="page" type="xsd:string" minOccurs="1"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>